@model IEnumerable<WebApplication2.Models.New>

@{
    ViewBag.Title = "Goal News";
}

<div class="jumbotron">
    <div class="container">
        <h2 style="text-align:center">Buscar Noticias</h2>

        @using (Html.BeginForm())
            {

            <div class="form-horizontal">
                @if (Request.IsAuthenticated)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2" style="font-size: 0">hidden &zwnj;</label>
                        <div class="col-md-5">
                            @Html.ActionLink("Crear nueva noticia", "Create", FormMethod.Get, new { @class = "btn btn-success" })
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="control-label col-md-2">Empleado</label>
                    <div class="col-md-10">
                        @Html.DropDownList("empleado", new SelectList(ViewBag.Empleado), string.Empty, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Cliente</label>
                    <div class="col-md-10">
                        @Html.DropDownList("cliente", new SelectList(ViewBag.Cliente), string.Empty, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fecha</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Fecha", new SelectList(ViewBag.Fecha), string.Empty, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="font-size: 0">hidden &zwnj;</label>
                    <div class="col-md-5">
                        <button class="form-control btn btn-info" type="submit">Buscar</button>
                    </div>
                    <div class="col-md-5">
                        <button id="export" style="background-color :#256308 !important;" class="form-control btn btn-success">Exportar a Excel</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<div class="container">
    <table id="table2excel" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Noticia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(HttpUtility.HtmlDecode(item.Noticia))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado)
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-xs" }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs" })
                        </td>}

                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {

    <script src="~/scripts/jquery.table2excel.js"></script>

    <script>
        $("#export").click(function () {
            $("#table2excel").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "Worksheet Name",
                filename: "ExcelFile" //do not include extension
            });
        });
    </script>

}




@*
    <select id="selEmp" class="selectpicker" data-live-search="true" onchange="this.form.submit();">
        @foreach (var item in Model)
        {
        <option>@Html.DisplayFor(modelItem => item.Empleado)</option>
        }
    </select>
    <select class="selectpicker" data-live-search="true">
        @foreach (var item in Model)
        {
            <option>@Html.DisplayFor(modelItem => item.Cliente)</option>
        }
    </select>


    @foreach (var item in Model)
    {
        <div id="tableN">
            <h4>@Html.DisplayFor(modelItem => item.Noticia)</h4>
        </div>

    }
*@
